<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prag Online Shopping</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron" align="center">
            <h1>Prag Online Shopping App</h1>
            <a href="/addItem" class="btn btn-primary">Add Item</a>
            <a href="/display" class="btn btn-primary">Display Item</a>
        </div>
    </div>
</body>
</html>